@import url(https://fonts.googleapis.com/css?family=Pacifico);

:root {
  --focus-inner-color: #ff0844;
  --focus-outer-color: #ffb199;
}

ul {
}

body {
  background-color: #fcfafa;
}

button.btn-danger {
  background: linear-gradient(180deg, #ff7147, #e0417f);
  font-size: 2rem;
  color: white;
  padding: 1rem 2rem;
  line-height: 3rem;
  will-change: transform, filter;
  float: none;
  margin: 0;
  transition: all 0.15s ease-out;
  height: auto;
  border-radius: 100px;
  overflow: hidden;
  display: block;
  margin: 0px auto;
  display: block;
  transform: rotateX(0deg) rotateY(0deg) scale(1);
  filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
  font-weight: 500;
  perspective-origin: 0 0;
  letter-spacing: 0;
}

button.btn-danger:hover {
  transition: transform 0.4s ease-out;
  transform: translate(15px);
}

button.btn-secondary {
  background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  border-radius: 50px;
  transition: all 0.35s;
  background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  width: 90px;
  height: 35px;
  letter-spacing: 4px;
}

button.btn-secondary:hover {
  transition: transform 0.4s ease-out;
  transform: translate(15px);
}

button.btn-light {
  background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.form-control:focus {
  box-shadow: 0 0 0 1.5px var(--focus-inner-color),
    0 0 0 0.2rem var(--focus-outer-color);
}

.gradient {
  font-family: "Pacifico";
  background-image: linear-gradient(
    90deg,
    rgba(94, 114, 235, 1) 0%,
    rgba(255, 145, 144, 1) 56%,
    rgba(254, 193, 149, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;

  animation: move 1s infinite;
}

@keyframes move {
  50% {
    background-image: linear-gradient(
      262deg,
      rgba(94, 114, 235, 1) 0%,
      rgba(255, 145, 144, 1) 56%,
      rgba(254, 193, 149, 1) 100%
    );
  }
}
